@import './importFiles/import.css';
div .someElem {
  width: 600px;
  line-height: 1.5;
  background: url("../images/somePicture.jpg");
  box-shadow: 1px 1px 2px teal;
  border-color: rgba(255, 0, 0, 0.3);
}

html {
  background: #ccc;
  color: red;
}

#parent {
  background: green;
}
#parent #child-One, #parent .another, #parent .evenmore {
  background: yellow;
  font-size: 1em;
}
#parent #child-Two {
  font-weight: 200;
}
#parent #child-Two #inner-child .content {
  background: blue;
}
#parent.HasClass #button {
  background: blue;
  font-weight: bold;
  font-style: italic;
}

#stub1 .c1 .PossibleStub2 {
  background-color: teal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.c1 {
  line-height: 2em;
}

#parent .sign .child, #parent video .child, #parent img .child, #parent elementOne .child, #parent ElementTwo .child, #parent ElementThree .child, #parent .content .child {
  background: green;
  font-size: 2em;
}

.content {
  line-height: 2em;
}

p {
  color: blue;
  background-color: #ff0000;
  line-height: 1.5;
}
p #main {
  color: blue;
  background: green;
  line-height: 3;
}

body {
  color: green;
  width: 200px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 4px 4px 2px gray;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 4px 4px 2px gray;
  -o-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 4px 4px 2px gray;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 4px 4px 2px gray;
}
body #main {
  color: blue;
  background: green;
  line-height: 2.6;
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul.importStyles {
  width: 2048px;
  height: 1024px;
  background: green;
}

div {
  width: 100%;
  height: 100px;
  background: red;
}

ol {
  background: SCSS;
  -webkit-box-shadow: 1px 1px 2px teal;
  -moz-box-shadow: 1px 1px 2px teal;
  -o-box-shadow: 1px 1px 2px teal;
  box-shadow: 1px 1px 2px teal;
  color: blue;
  background-image: url("../images/bg.jpg");
  background-color: #ccc;
}

section {
  width: 4;
  box-shadow: 6px 7px 8px blue;
  text-shadow: 1px 2px 3px green, 6px 7px 8px blue, 0em 1em 0.5em brown;
  height: comma;
  line-height: 1px 2px 3px green, 6px 7px 8px blue, 3px 2px 1px yellow, Helvetica, Arial, sans-serif;
  font: black green blue red gray;
  font-size: 3;
  background: 1px 4em black, 2px 3em green, 3px 2em blue, 4px 1em red;
  background: 1px 4em black, 2px 3em green, 3px 2em blue, 4px 1em red;
}

.mapWrapper {
  content: "KeyName", "AnotherKey";
  content: "Value", 200px;
  content: true;
  content: false;
  content: 102;
  content: ("KeyName": "Value", "String": string, "Number": 102, "List": (background 0.2s, color 0.3s), "NestedMap": ("NestedKey": "Nested value", "url": "../images/nestedImg.png", "Width": 300px), "AnotherKey": 200px);
  content: ("key1": "value1", "key3": "value3");
}

span {
  width: 25px;
  height: 0px;
  line-height: -3px;
}

a {
  content: "Nope";
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 45px;
}

h1 {
  color: teal;
}

h2 {
  color: azure;
}

h3 {
  color: indigo;
}

h4 {
  color: seafoam;
}

h5 {
  color: evergreen;
}

h6 {
  color: rebeccapurple;
}

li {
  height: 100;
  width: -100;
}

b {
  display: flex;
  transition: all 0.2s;
}
