// Variables
$gray: #ccc;
$width: 600px;
$float: 1.5;
$int: 20;
$fileStr: '../images/somePicture.jpg';
$specialSelector: someElem;

$l1: 1px 1px 2px #bbb;
$l2: 1px 1px 2px #aaa;
$l3: 1px 1px 2px teal;

$redNorm: red;
$redHex: #ff0000;
// The other color types get converted to hex or it's string name when sass is able to
$redrgb:rgb(255,160,122);
$redrgba: rgba(255, 0, 0, 1);
$redhsl:hsl(0, 100%, 50%);
$redhsla: hsl(0, 100%, 50%, 0.3);

div .#{$specialSelector} {
    width: $width;
    line-height: $float;
    background: url($fileStr);
    box-shadow: $l3;
    border-color: $redhsla;
}

html{
    background: $gray;
    color: red;
}

// Inheritance: Selector Inheritance
$el :  button;
$list : elementOne, ElementTwo, ElementThree;
#parent  {
     background:green;
    // Descendant selector, each comma makes a new descendant selector
     #child-One, .another, .evenmore{
           background:yellow;
           font-size:1em;
     }

     #child-Two{
           font-weight:200;
           #inner-child .content{
                 background:blue;
           }
     }
     
     // The & here adds another specificity on that selector, can also add the button element on iot
     &.HasClass ##{ $el } {
           background: blue;
           font-weight: bold;
           font-style: italic;
     }

}

// Inheritance: Property inheritance

#stub1 %s1 .PossibleStub2{
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.c1 {
    @extend %s1;
    line-height: 2em;
}
#parent %shared .child{
      background:green;
      font-size:2em;
}

.content {
      @extend %shared;
      line-height: 2em;
 }

 // Sharing across multiple elements makes a new selector that fits the shared propety
 .sign, video, img, #{ $list } {
       @extend %shared;
}


// Mixins
$color :  blue;
// Declare with @mixin and give it a name
@mixin cssMixin {
    color: $color;
    background-color: $redHex;
    line-height: $float;
}

// Mixins can accept not only sass but args as well to further enhance dynamic results
@mixin cssProperties( $argOne, $argTwo ) {
    #main{
          color: $argOne;
          background: green;
          line-height: $argTwo;
    }
}

// Use ... to denote multiple values to one selector if passing in multiple lists to one arg
@mixin boxShadow( $shadow... ) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Mixins must be declared before being called
p{
    @include cssMixin(); // Call like function with @include directive
    @include cssProperties($color, 3 );
}

@mixin keyframes( $name ) {
      @-webkit-keyframes #{ $name } {
            @content;
      }
      @-moz-keyframes #{ $name } {
            @content;
      }
      @-o-keyframes #{ $name } {
            @content;
      }
      @keyframes #{ $name } {
            @content;
      }
}

body {

      color:green;
      width:200px;
      @include boxShadow( 1px 2px 3px rgba(0,0,0,.3) , 4px 4px 2px gray );

      @include cssProperties( $color, 2.6 );
}

@include keyframes( myAnim ) {
    // This body defines what @content is and is applied in the mixin whenever @content is called
      0% { opacity: 0 }
      100% { opacity: 1 }
};

// Imports 
@import './importFiles/import.css';
@import './importFiles/_import.scss';
@import './importFiles/_import.sass';
ol{
    background: $SCSSVariable;
    @include boxShadow($l3);
    color: $primary;
    @include properties($secondary);
}

// The List function
$List1 : 200px;
$List2 : 1px 2px 3px black;
$List3 : Helvetica, Arial, sans-serif;

$NestedList :   1px 2px 3px green,   6px 7px 8px blue,   3px 2px 1px yellow;


$zip1: 1px 2px 3px 4px;
$zip2: 4em 3em 2em 1em;
$zip3: black green blue red;

section{
      width: length( $List2 ) ;
      box-shadow: nth( $NestedList , 2 ) ;
      text-shadow: set-nth( $NestedList , 3 , 0em 1em .5em brown ) ;
      height: list-separator( $List3 ) ;
      line-height: join( $NestedList , $List3,  comma ) ;
      font: append( $zip3 , gray ) ;
      font-size: index( $NestedList , 3px 2px 1px yellow ) ;
      background: zip( $zip1 , $zip2 , $zip3 ) ;

      // Function examples
      // border: length($NestedList);
      // border: nth($NestedList, 2);
      // border: set-nth($NestedList, 2, 'test string');
      // border: list-separator($zip2);
      // border: join($NestedList, $zip2, space);
      // border: append($zip2, 'new zip');
      // border: index($zip3, green);
      background: zip( $zip1 , $zip2 , $zip3 ) ;
      
}

$BasicMap : (
      'KeyName' : 'Value',
      'AnotherKey' : 200px
);

$Map1 : (
      'KeyName':  'targeting a key produces it\'s value!',
      'String':  string,
      'Number' :  102,
      'List'             :  ( background .2s,  color .3s ),
      'NestedMap' :  (
            'NestedKey' :  'Nested value',
            'url'              :  "../images/nestedImg.png",
            'Width'         :  300px
      )
 );

 $Map2 : (   'key1' : 'value1',   'key2' : 'value2',   'key3' : 'value3' );

 // Map functions
 .mapWrapper{
     content: map-keys($BasicMap);
     content: map-values($BasicMap); // Cannot print values of nested maps like map1, it'll get error
     content: map-has-key($Map1, 'Number');
     content: map-has-key($Map1, 'Stringerw');
     content: map-get($Map1, 'Number');
     content: inspect(map-merge($Map1, $BasicMap)); // Must be wrapped in inspect to render a string
     content: inspect(map-remove($Map2, 'key2'));
 }

 // Math
 $x: 10px;
 $y: 15px;
 $z: 20px;
 $d: 2;

 $eq: ($d + $x) - $y;

 span{
     width: $x+$y;
     height: $z % $d;
     line-height: $eq;
     // Can use round, floor, ceil, percentage to do some conversions
     // Rand and abs are pretty useful to among others
 }

 // Control Structures
 $type: element;
 $num: 10;
 $val: null;

 a{
     @if $type == erlement{
         content: 'Value is true';
     } 
     @else if $type != element{
         content: 'Kind of';
     }
     @else{
         content: 'Nope';
     }
 }